<%- include("partials/NavBar")  %> 

<!-- ------------------------------------------------------------------------------------- -->
      <!-- Products Details -->
      <section id="product-details" class="section-p1">
        <div class="single-product-img">
          <img
            id="MainImg"
            src="/img/products/f1.jpg"
            width="100%"
            alt="chemise"
          />
          <div class="small-img-group">
            <div class="small-img-column">
              <img
                class="SmallImg"
                src="/img/products/f1.jpg"
                width="100%"
                alt="chemise"
              />
              <img
              class="SmallImg"
                src='/img/products/f2.jpg'
                width="100%"
                alt="chemise"
              />
              <img
                class="SmallImg"
                src="/img/products/f3.jpg"
                width="100%"
                alt="chemise"
              />
              <img
                class="SmallImg"
                src="/img/products/f4.jpg"
                width="100%"
                alt="chemise"
              />
            </div>
          </div>
        </div>
        <div class="single-product-details">
          <h6 id="name" style="font-size: 15px"></h6>
          <h4>Men's Fashion T-Shirt</h4>
          <h2 id="price"></h2>
          <select name="size-select" id="size">
            <option value="null"">Select Size</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
          <h6 class="alert alert__size">Vous devez d'abord choisir une taille !</h6>
          <input
            min="1"
            max="10"
            class="quantity"
            type="number"
            value="1"
            style="text-align: center"
          />
          <h6 class="alert alert__quantity">Vous devez d'abord choisir une quantité !</h6>
          <button id="addToCart">Add to Cart</button>
          <h4>Product Details</h4>
          <span id="productDescription"></span>
        </div>
      </section>
      <%- include("partials/Footer") %> 

      <script src="/js/home.js"></script>
      <script src="/js/cart.js"></script>
      <script src="/js/basket.js"></script>
    </body>
  </html>
</html>
