<%- include("partials/NavBar") %>
<body id='body__profile'>
    <section class="container forms" id="container__forms">
        <div class="form login" id="form__profile">
            <div class="form-content">
                <header>Profil</header>
                <form id='form__password' action="/password" method="POST">
                    <% if (locals.errorMessage) { %>
                        <div class="alert alert-danger" role="alert">
                          <%= locals.errorMessage %> 
                        </div>
                      <% } %>
                      <div class="field input-field">
                        <div class="input__form">
                        <h4><%= user.firstname%> <%= user.lastname %></h4>
                            <label for="actualPassword"><% user.email %></label>
                            <input type="text" name="email" id="email" placeholder="<% user.email %>" >
                        </div>

                          <div class="input__form">
                            <label for="actualPassword">Ancien mot de passe</label>
                            <input type="password" name="actualPassword" id="actualPassword" placeholder="Ancien mot de passe">
                        </div>
                        <div class="input__form">
                            <label for="newPassword">Nouveau mot de passe</label>
                            <input type="password" id="newPassword" placeholder="Nouveau mot de passe" name="password">
    
                        </div>
                        <div class="input__form">
                            <label for="confirmNewPassword">Confirmer le nouveau mot de passe</label>
                            <input type="password" id="confirmNewPassword" placeholder="Confirmer le nouveau mot de passe"  name="confirm">
                        </div>
                        <button class="form__profile--change">Sauvegarder les changements</button>
                    </div>
                </form>
    </section>
    <script src="/js/home.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>
