<%- include("partials/NavBar") %> 
      <!-- Featured Products -->
      <section id="product" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Morden Design</p>
        <div class="pro__container">
          <div class="pro__container--product">
            <img src="/img/products/f1.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <button
              onclik="addToCart"
              type="submit"
              name="add-to-cart"
              class="fa-regular fa-heart heart"
            ></button>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f2.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f3.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f4.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f5.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f6.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f7.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/f8.jpg" alt="" />
            <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
        </div>
      </section>

      <!-- New arrivals -->
      <section id="product" class="section-p1">
        <h2>New arrivals</h2>
        <p>Summer Collection New Morden Design</p>
        <div class="pro__container">
          <div class="pro__container--product">
            <img src="/img/products/n1.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n2.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n3.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n4.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n5.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n6.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n7.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
          <div class="pro__container--product">
            <img src="/img/products/n8.jpg" alt="" />
            <div class="pro__description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>78€</h4>
            </div>
            <a href="#"><i class="fa-regular fa-heart heart"></i></a>
          </div>
        </div>
      </section>

      <!-- Footer Nav-Bar -->
      <footer class="section-p1">
        <div class="logo" id="footer-logo">
          <a id="laya" href="#"><h7>WyStil</h7></a>
          <div class="side"><p></p></div>
        </div>
        <div class="column">
          <h4>Contact</h4>
          <p>
            <strong>Address : </strong>7 résidence des closeaux, 94150, Rungis
          </p>
          <p><strong>Phone : </strong>06.79.24.45.29</p>
          <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>
        <div class="column">
          <h4>About</h4>
          <a href="#">About Us</a>
          <a href="#">F.A.Q</a>
          <a href="#">Delivery Information</a>
          <a href="#">Terms & conditions</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Contact Us</a>
        </div>

        <div class="column">
          <h4>My Account</h4>
          <a href="#">Sign In</a>
          <a href="#">View Cart</a>
          <a href="#">My Favorites</a>
          <a href="#">Orders tracking</a>
          <a href="#">Assistance</a>
        </div>

        <div class="column install">
          <h4>Install App</h4>
          <p>From App Store or Google Play</p>
          <div class="row">
            <img class="white" src="/img/pay/app.jpg" alt="" />
            <img class="white" src="/img/pay/play.jpg" alt="" />
          </div>
          <p>Secured Payment Gateways</p>
          <img src="/img/pay/pay.png" alt="" />
        </div>
      </footer>

      <script src="/js/home.js"></script>
    </body>
</html>
