    <%- include("partials/NavBar") %>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Sign Up</header>
                    <form action="/signup" method="POST">
                        <% if (locals.errorMessage) { %>
                            <div class="alert alert-danger" role="alert">
                              <%= locals.errorMessage %> 
                            </div>
                          <% } %>
                          <div class="field input-field">
                            <input type="text" placeholder="Nom" class="input" name="firstname">
                        </div>
                        <div class="field input-field">
                            <input type="text" placeholder="Prénom" class="input" name="lastname">
                        </div>
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name="email">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Mot de passe" class="password" name="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Confirmer le mot de passe" class="password" name="confirmation">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button>Sign Up</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <a href="/login" class="link signup-link">Vous avez déjà un compte ? Connectez-vous</a>
                    </div>
                </div>
            </div>

            <!-- Signup Form -->

        <script src="/js/home.js"></script>
        <script src="/js/login.js"></script>
    </body>
</html>
